// @mixin weight400 {
//     font-weight: 400;
// }

// @mixin weight700 {
//     font-weight: 700;
// }

// @mixin size14 {
//     font-size: 14px;
// }
// @mixin size16 {
//     font-size: 16px;
// }
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

