
@use "sass:map";
@use "./breakpoints" as bp;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin respond($size){
 @media (
   min-width: map.get(
      bp.$breakpoints,
      $size
   )
 ){
   @content;
 }
}