@use "../styles/variables" as *;

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: $fontBase;
  color: $colorBody;
  padding: 0;
  margin: 0;
}

.appContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}
