body{
    font-family: 'Space Grotesk', sans-serif;
    padding:0px;
    margin:0px;
    
}
.appContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
}
p{
    padding:0px;
    margin:0px;
}
