@use "../../../app/styles/variables" as *;

.button {
  border: none;
  border-radius: 999px;
  padding: 8px 16px;
  cursor: pointer;
  background: $colorPrimary;
  color: #ffffff;
  font: inherit;
  font-size: $fontSm;
  font-weight: $fontWeight600;
  transition: 0.2s background-color;

  &:hover {
    background: $colorBody;
  }
}
