@use "../../../app/styles/variables" as *;

.toggle {
  display: flex;
  border-radius: 999px;
  background: #e5e7eb;
}

.button {
  border: none;
  background: transparent;
  padding: 8px 14px;
  border-radius: 999px;
  cursor: pointer;
  font: inherit;
  font-size: $fontSm;
  color: $colorSecondary;
}

.active {
  border: none;
  padding: 8px 14px;
  border-radius: 0 999px 999px 0;
  cursor: pointer;
  background: $colorPrimary;
  color: #ffffff;
  font: inherit;
  font-size: $fontSm;
  font-weight: $fontWeight600;
  transition: 0.2s background-color, 0.2s color;

  &:nth-child(1),
  &:first-child {
    border-radius: 999px 0 0 999px;
  }
}
