@use "../app/styles/mixins" as *;
@use "../app/styles/variables" as *;
.container {
  color: var(--app-color);
  background: var(--app-background);
  padding:12px;
  @include respond(tablet)
  {
     display: grid;
  grid-template-columns: 350px minmax(0, 1fr);
  gap: 18px;
  align-items: start;
  padding: 18px 12px;
  }


}

.sidebar,
.mainContent {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom:14px ;
}

.sidebar {
 
  > div:nth-child(2) {
    display: none;
  }

 

  @include respond(tablet) {
  
    > div:nth-child(2) {
      display: block;
    }

   
  }
}
.mainContent {
  &>div:nth-child(4) {
    display: block ;
  }
  @include respond(tablet)
  {
    &>div:nth-child(4) {
      display: none;
    }
  }
}
// @media (max-width: 900px) {
//   .container {
//     grid-template-columns: 1fr;
//   }
// }
