@use "../../../app/styles/variables" as *;
@use "../../../app/styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 0 12px;

  h2 {
    margin: 0;
    font-size: $fontMd;
    font-weight: $fontWeight700;
    color: $colorPrimary;
  }

  button {
    display: flex;
    align-items: center;
    gap: 3px;
    border: none;
    background: transparent;
    color: $colorSecondary;
    cursor: pointer;
    font: inherit;
    font-size: $fontSm;
    
  }
}

.cityList {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0 12px 12px 12px;
  gap: 8px;
  

  @include respond(tablet) {
    flex-direction: column;
    overflow-x: unset;
  }
}

.cityCard {
  width: fit-content !important;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 16px;
cursor: pointer;
  @include respond(tablet) {
    gap: 12px;
    min-height: 66px;
    width: 100% !important;
    gap: 0;
  }

  p,
  h3 {
    margin: 0;
    white-space: nowrap;
  }

  h3 {
    margin: 6px 0;
    font-size: $fontBase;
    font-weight: $fontWeight700;
    color: $colorPrimary;
  }
}

.country {
  color: $colorMuted;
  font-size: $fontXs;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.description {
  margin-top: 3px;
  color: $colorSecondary;
  font-size: $fontSm;
}

.cityIcon {
  color: $colorPrimary;
}

.temperature {
  color: $colorPrimary;
  font-size: $fontBase;
  font-weight: $fontWeight700;

  span {
    color: $colorSecondary;
    font-size: $fontSm;
    font-weight: $fontWeight400;
  }
}
