@use "../../../app/styles/variables" as *;
@use "../../../app/styles/mixins" as *;
.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:12px 12px 0 12px;

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: $fontWeight700;
  }

  button {
    display: flex;
    align-items: center;
    gap: 3px;
    border: none;
    background: transparent;
    color: $colorSecondary;
    cursor: pointer;
    font: inherit;
    font-size: 12px;
  }
}

.cityList {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0px 12px 12px 12px;
  gap: 8px;
   @include respond(tablet) {
  flex-direction: column;
  overflow-x: unset;
 }
 
}

.cityCard {
  width: fit-content !important ;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap:16px;
  @include respond(tablet) {
  gap: 12px;
  min-height: 66px;
  width: 100% !important ;
  gap:0;
  }
  
  p,
  h3 {
    margin: 0;
  }

  h3 {
    margin-top: 3px;
    font-size: 14px;
    font-weight: $fontWeight700;
  }
}

.country {
  color: #b4b4b4;
  font-size: 10px;
  text-transform: uppercase;
}

.description {
  margin-top: 3px;
  color: $colorSecondary;
  font-size: 11px;
}

.cityIcon {
  color: $colorPrimary;
}

.temperature {
  color: $colorPrimary;
  font-size: 14px;
  font-weight: $fontWeight700;

  span {
    color: $colorSecondary;
    font-size: 12px;
    font-weight: $fontWeight400;
  }
}
