@use "../../../app/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: $fontWeight700;
  }

  button {
    display: flex;
    align-items: center;
    gap: 3px;
    border: none;
    background: transparent;
    color: $colorSecondary;
    cursor: pointer;
    font: inherit;
    font-size: 12px;
  }
}

.cityList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cityCard {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 12px;
  min-height: 66px;

  p,
  h3 {
    margin: 0;
  }

  h3 {
    margin-top: 3px;
    font-size: 14px;
    font-weight: $fontWeight700;
  }
}

.country {
  color: #b4b4b4;
  font-size: 10px;
  text-transform: uppercase;
}

.description {
  margin-top: 3px;
  color: $colorSecondary;
  font-size: 11px;
}

.cityIcon {
  color: $colorPrimary;
}

.temperature {
  color: $colorPrimary;
  font-size: 14px;
  font-weight: $fontWeight700;

  span {
    color: $colorSecondary;
    font-size: 12px;
    font-weight: $fontWeight400;
  }
}
